body{
  background: #FFB997;
  margin: 0;
}
/*----------------NAV BAR----------------*/
.topbar{
  flex: 1;
  height: 70px;
  background-color: #F67E7D;
  margin-bottom: 50px;
}
.logo_topbar{

  font-family: 'Helvetica', Arial;
  color: #74546B;
  display: inline-block;
  margin-left: 40px;
  margin-top: -8px;
}
.profile_topbar{

  background-color: #74546B;
  border-radius: 10px;
  width: 50px;
  height: 50px; 
  float: right;
  margin: 10px;
}

/*----------------CARDS----------------*/

.cardCheckBox{

  background-color: white;
  min-height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 7.5px;
  min-width: 500px;
  width: 100%;
  z-index: 2;
}
.cardCheckBox-overflowallow{

  background-color: white;
  min-height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
  min-width: 500px;
  width: 100%;
  display: inline-block;

}
.checkBoxSet h1{

  line-height: 30px;
}
.projectlink a{
  background-color: white;
}
/*----------------H1 TEXT----------------*/
.cardh1bold{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 900;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
  position: absolute;
}
.cardh1normal{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
}

.cardh1light{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
  margin-right: 10px;
}
.cardh1lightview{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
  margin-right: 10px;
  max-width: 400px;
  min-width: 200px;
}
.cardh1lightcheckbox{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: hidden;
}
.cardh1lightlongtext{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 20px; 
  margin-right: 20px;
  font-size: 1.3em;
  text-overflow: hidden;
  word-break: break-all;
}
.cardlong{

  background-color: white;
  min-height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: wrap;
  z-index: 0;
  position: relative;
  min-width: 500px;
}

.cardh1normallong{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
  margin-top: 10px;
}
/*----------------H2 TEXT----------------*/
.cardh2normal{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
}
.cardh2light{

  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
  float: left;

}
.cardLeftImgRed {

  background-color: #F67E7D;
  width: 45px;
  height: 45px;
  border-radius: 10px; 
  display: block;
  margin-top: 7.5px;
  margin-left: 7.5px;
  margin-right: 10px;
  float: left;
  /*z-index: 4;*/
  /*position: relative;*/
  clear: left;
}
.cardLeftImgRed h1{

  margin-left: 0;
  text-align: middle;
  color: #74546B;
  font-size: 1.3em;
  font-family: 'Helvetica'; 
  font-weight: 600;

}
.cardLeftImgWhite {

  background-color: #FFB997;
  width: 45px;
  height: 45px;
  border-radius: 10px; 
  display: block;
  margin-top: 7.5px;
  margin-left: 7.5px;
  margin-right: 10px;
  float: left;
  z-index: 4;
  position: relative;
  clear: left;
}



/*text for numbers in cubes*/
.projectNumCube {

  line-height: 45px;
  margin: auto;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
  color: #74546B;
  font-family: 'Helvetica';
}
.leftMargin{
  width: 25%; 
  display: inline-block;  
  float: left;
}
.backButton{

  width: 25%; 
  display: inline-block;  
  float: left;
}
.backIcon{
  width: 100px;
  float: left;
  height: 60px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}
.backButtonIcon {

  background-color: #F67E7D;
  width: 45px;
  height: 45px;
  border-radius: 10px; 
  display: inline-block;
  margin-top: 7.5px;
  margin-right: 9.5px;
  float: right; 
}
.back{
  content:url('./images/caret-symbol.png');
  height: 30px;
  margin-top: 7.5px;
  margin-left: 5px;
}
.ProjectUnitView_Page{
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
}
.ProjectUnitView_List{
  display: block;
  width: 50%;
}
.UnitView_Page{
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
}
.UnitView_List{
  display: block;
  width: 50%;
}
.Page{
  display: inline-flex;  
  margin: 0 auto;
  width: 100%;
}
.ProjectList{
  display: block;
  width: 50%;
}











.optionsPanel{
  width: 25%; 
  display: inline-block;  
  float: right;
  height: 60px;
}
.optionsPanel_Button{
  width: 60px;
  float: left;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
}
.slash{
  content:url('./images/minus-symbol.png');
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
  padding-bottom: 5px;
}
.checkField_uncheck{
  content:url('./images/check-box-empty.png');
  height: 30px;
  float: right;
  margin-right: 20px;
}
.checkField_checked{
  content:url('./images/check-box-checked.png');
  height: 30px;
  float: right;
  margin-right: 20px;
}
.checkField_delete{
  content:url('./images/waste-bin-white.png');
  height: 30px;
  float: right; 
  background-color: #74546B;
  border-radius: 7px;
  margin-right: 5px;
}
.checkField_delete img{
  height: 10px;
}
.addSymbol{
  content:url('./images/plus-symbol-in-a-rounded-black-square.png');
  height: 30px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}
.projectSymbol{
  content:url('./images/certificate-shape.png');
  height: 30px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}
.unitSymbol{
  content:url('./images/star.png');
  height: 30px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
/*Delete Options stuff*/

.deleteOKIcon{
  content:url('./images/ok.png');
  height: 22px;
  float: right;
  margin-right: 10px;
  border-radius: 6px;
  margin-top: 7.5px;
  z-index: 5;
}
.deleteCancelIcon{
  content:url('./images/cancel.png');
  height: 22px;
  float: right;
  margin-right: 10px;
  border-radius: 6px;
  margin-top: 2px;
  z-index: 5;

}
.deleteSet{
  width: 30px;
  display: block;
  margin-left: 10px;
  float: right;
  z-index: 10;
  position: relative;
}
/*--------------------*/
.ProgBar{
  min-height: 60px;
  width: 0%;
  background-color: #F67E7D;
  border-radius: 10px;
  position: absolute;
}
/*base text for progress reports - percentage*/
.percentRegularCard {
  
  float: right;
  margin-right: 15px;
  position: relative;
  /*right: 0;
  top: 0;*/
  margin-top: 5px;
  color: #74546B;
  font-family: 'Helvetica'; 
  line-height: 50px;
  font-weight: 700;
  font-size: 1.3em;
  z-index: 2;
  /*position: absolute;*/

}
.cardh1normalprogwithcount{
  color: #74546B;
  font-family: 'Helvetica';
  display: block;
  margin-top: 17.5px;
  font-weight: 700;
  margin-left: 85px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
  z-index: 2;
  position: absolute;
}
.cardh1normalprog{
  color: #74546B;
  font-family: 'Helvetica';
  display: block;
  margin-top: 17.5px;
  font-weight: 700;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: ellipsis;
  z-index: 2;
  position: absolute;
}

.card{

  background-color: white;
  height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  /*z-index: 0;
  position: relative;*/
  min-width: 500px;
}
/*colors: background: #FFB997
colors: topbar:   #F67E7D
colors: profile:  #74546B*/
div.dropdown-container-show {
  float: left;
  width: 250px;
  padding: 7.5px;
  height: 45px;
}
div.dropdown-display-clicked {
  float: left;
  width: 100%;
  background-color: #74546B;
  height: 320px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}
div.dropdown-container {
  float: left;
  clear:left;
  display: block;
  width: 250px;
  padding: 7.5px;
}
div.dropdown-display {
  float: left;
  width: 100%;
  background-color: #74546B;
  height: 45px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px;
}
.ddboxoption{
  color: white;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 45px;
  margin-left: 20px; 
  font-size: 1.3em;
}
.dropdown-list {
  color: white;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 45px;
  margin-left: 20px; 
  font-size: 1.3em;
}
.dropdown-list-hidden {
  display: none;
}
.caret-pointup{
  content:url('./images/caret-arrow-up.png');
  height: 15px;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  display: inline-flex;

}
.caret-pointdown{
  content:url('./images/caret-down.png');
  height: 15px;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  display: inline-flex;  
}
.card-overflowallow{

  background-color: white;
  height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  z-index: 2;
  padding-right: 10px;
  position: relative;
  min-width: 500px;
}
.cardlong-overflowallow{

  background-color: white;
  height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  z-index: 0;
  padding-right: 10px;
  position: relative;
  min-width: 500px;
}
.CreateProjectView_New{
  height: 60px;
}
.checkBoxAdd_Button {
  max-width: 63%;
  background-color: #F67E7D;
  height: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-top: 7.5px;
  display: flow-root;

}
.checkBoxAdd_ButtonText{
  color: white;
  font-family: 'Helvetica';
  margin-top: 0px;
  font-weight: 900;
  line-height: 45px;
  font-size: 1.3em;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
}
.checkFieldContainer{
  float: left;
  width: 98%;
  height: 45px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}
.checkFieldContainer div{
  margin-top: 7.5px;
}
.checkField_EditText{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 45px;
  margin-left: 20px; 
  font-size: 1.3em;
  text-overflow: hidden; 
}
.deleteButton{
  width: 25%; 
  display: inline-block; 
  overflow: hidden;
}
.deleteIcon{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
  display: inline-block;
}
.deleteButtonIcon {

  background-color: #F67E7D;
  width: 45px;
  height: 45px;
  border-radius: 10px; 
  display: inline-block;
  margin-top: 7.5px;
  margin-left: 7.5px;
}
.binSymbol {
  content:url('./images/waste-bin.png');
  height: 30px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}
.deletebar{
  width: 90%;
  display: inline-block;
}
.test{
  float:left;
  display: block;
  min-width: 111%;
  }
.form_short{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}
.shortFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_title{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}
.titleFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 900;
  line-height: 60px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_phone{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}
.phoneFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_email{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}
.emailFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 60px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_label{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}
.labelFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 900;
  line-height: 60px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_long{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  position: absolute;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
  overflow: hidden;
}
.longFieldInput{
  font-family: 'Helvetica';
  display: inline-block;
  color: #74546B;
  margin-top: 0px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 20px; 
  margin-right: 20px;
  font-size: 1.3em;
  width: 95%;
  border: none;
  overflow: auto;
  resize: none;
  min-height: 200px;
}
.checkFieldInput{
  color: #74546B;
  font-family: 'Helvetica';
  display: inline-block;
  margin-top: 0px;
  font-weight: 400;
  line-height: 50px;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}
.form_check{
  display: inline-block;
  margin-left: 20px; 
  font-size: 1.3em;
  overflow-x: hidden;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow-y: hidden; 
}

/*----------------OPTIONS BUTTON ----------------*/
.option_wrapper{
  width: 21px;
  height: 45px;
  float: right;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: -5px;
}
.uv_option_wrapper{
  width: 21px;
  height: 45px;
  float: right;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: 10px;
}
.option_container_outer{
  width:100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid grey;
}
.option_container_inner{
  content:url('./images/menu.png');
  height: 50%;
  margin-top: 12px;
  margin-left: 0px;
}
.options_modal_container_inner{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal_cancel{
  display: block;
  background: #74546B;
  color: white;
  border: solid 2px #74546B;
  border-radius: 5px;
  font-family: 'Lato';
  font-size: 1.0em;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  font-family: 'Helvetica';
  width: 230px;
  margin: 10px;
}
.modal_delete{
  display: block;
  background: #74546B;
  color: white;
  border: solid 2px #74546B;
  border-radius: 5px;
  font-family: 'Lato';
  font-size: 1.0em;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  font-family: 'Helvetica';
  width: 230px;
  margin: 10px;
}
.modal_edit{
  display: block;
  background: #74546B;
  color: white;
  border: solid 2px #74546B;
  border-radius: 5px;
  font-family: 'Lato';
  font-size: 1.0em;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  font-family: 'Helvetica';
  width: 230px;
  margin: 10px;
}
.projectunitview_options_modal_text{
  color: #74546B;
  font-family: 'Helvetica';
  display: block;
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px; 
  font-size: 1.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 175px;
}
.optionsModalError{
  font-family: 'Helvetica';
  display: block;
  margin-top: 5px;
  font-weight: 300;
  margin-left: 15px; 
  margin-right: 15px;
  font-size: 0.9em;
  color: red;
}













/*----------------OPTIONS POP UP ----------------*/
.option_modal_overlay{
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
}
.option_modal_main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.options_modal_wrapper{
  background: white;
  border-radius: 10px;
  min-width: 200px;
  max-width: 250px;
}

